html {
  min-height: 100%;
}

body {
  min-height: 100%;
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: white;
  background-size: 100%;
  background-position: bottom;
  background-color: #101010;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

form {
  padding: 20px;
  margin-top: 60px;
}

form button,
form h5 {
  margin: 20px 0;
}

input[type='text']:not(.browser-default):focus:not([readonly]),
input[type='email']:not(.browser-default):focus:not([readonly]),
input[type='password']:not(.browser-default):focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]) {
  border-color: #ef5350;
  box-shadow: none;
}

.logos-parent-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.logo-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.fullstack-logo {
  flex: 1;
  height: 150px;
  width: 200px;
  background-color: white;
  border-radius: 10%;
}

.partner-logo {
  flex: 1;
  height: 150px;
  width: 150px;
  background-color: white;
  border-radius: 10%;
}

.marker-me {
  width: 50px;
  height: 50px;
}

.marker-others {
  width: 50px;
  height: 50px;
}

.marker-fullstack {
  width: 50px;
  height: 50px;
  border-radius: 50px;
}

.marker-btn {
  background: none;
  border: none;
  cursor: pointer;
}

.marker-btn img {
  width: 30px;
  height: 30px;
}

.location-description {
  color: black;
  text-align: center;
}

.navigation-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: black;
}

.navigation-containee {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.red-text-color {
  color: #ef5350;
}

.blue-text-color {
  color: #039be5;
}

.name-text-positioning {
  left: 30px;
}

.events-time-and-rsvp-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.events-time-and-rsvp-containee {
  flex: 1;
}

.remove-outline {
  outline: none;
}

.preloader {
  margin: 0px;
}

.preloader-container {
  display: flex;
  flex-direction: column;
}

.progress.preloader.preloader-inner-color {
  background-color: #ef5350;
}

.progress .indeterminate.preloader-outer-color {
  background-color: #eaeaea;
}
